parameters:
  level: 9
  treatPhpDocTypesAsCertain: false
  paths:
    - src/
    - tests/
  scanDirectories:
    - vendor/
  ignoreErrors:
    - '/Property GregorJ\\SerialPort\\Streams\\TcpSocket::\$socket \(resource\) does not accept null./'